/* BACKGROUND IMAGE WITH BLUR */
body::before {
content:"";
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:url("../picture/img2.jpeg") center/cover no-repeat;
filter:blur(8px);
z-index:-1;

}

/* MAIN CONTAINER */
.container {
width:80%;
margin:50px auto;
padding:30px;
border-radius:15px;
border:2px solid #ffffff;
backdrop-filter:blur(10px);
background:linear-gradient(135deg,#62814180,#8A784E);
font-style:italic;
}

/* RESTAURANT TITLE */
h1 {
font-family:'Satisfy',cursive;
font-style:normal;
font-size:64px;
letter-spacing:4px;
text-align:center;
margin-bottom:10px;
}

/* BACK BUTTON */
.back {
display:block;
text-align:center;
margin-bottom:20px;
color:#ffffff;
text-decoration:none;
font-family:'Satisfy',cursive;
font-style:normal;
font-size:22px;
}

.back:hover {
text-decoration:underline;
}

/* MENU TABLE */
.menutable {
width:100%;
margin-bottom:25px;
border-collapse:separate;
border-spacing:1px;
font-style:italic;
}

/* CATEGORY TITLE */
.categorytitle {
background:#00000066;
text-align:left;
font-size:20px;
padding:12px;
}

/* TABLE HEADERS */
.menutable th {
background:#ffffff33;
text-align:left;
padding:12px;
border:1px solid #ffffff;
}

/* TABLE CELLS */
.menutable td {
background:#00000033;
padding:12px;
border:1px solid #ffffff;
}

/* HOVER EFFECT */
.menutable tr:hover td {
background:#ffffff26;
transition:0.3s;
}

/* BOTTOM IMAGES */

.image {
    height:50% ;
display:flex;
justify-content:space-between;
gap:20px;
margin-top:30px;
}

.image img {
width:50%;
height:auto;
border-radius:10px;
object-fit:cover;
}

/* FOOTER INFO ICON */
.footer {
position:fixed;
bottom:10px;
right:20px;
cursor:pointer;
font-size:18px;
}

/* icon BOX */
.icon {
visibility:hidden;
opacity:0;
position:absolute;
bottom:30px;
right:0;
background:linear-gradient(135deg,#628141,#8A784E);
color:#ffffff;
width: 100px;
padding:10px 14px;
border-radius:8px;
font-size:14px;
white-space:nowrap;
backdrop-filter:blur(6px);
transition:opacity 0.3s ease;
}

/* SHOW icon */
.footer:hover .icon {
visibility:visible;
opacity:1;
}

/* icon ARROW */
.icon::after {
content:"";
position:absolute;
top:100%;
right:10px;
border-width:6px;
border-style:solid;
border-color:#8A784E transparent transparent transparent;
}